# preprocess the data

In [ ]:
import pandas as pd
from datetime import date
import calendar
import xlrd
import datetime

In [3]:
df=pd.read_excel('atm_new.xlsx',sheet_name='Sheet 1')

In [4]:
df.head()

,DISTRICTNAME,BRANCHNAME,TERMINAL_ID,TXN_DATE,TRXN_DESCRIPTION,STATUS,WITHDRAWAL,NO_TXN
0,GONDER,Ras Dashen,AGD00047,2020-11-10,Domestic_Acquiring,SUCCESSFUL,4050.0,8
1,ADAMA,Nazareth,AAD00036,2021-04-06,Domestic_Acquiring,SUCCESSFUL,24450.0,18
2,SHASHEMENE,Dida Boke,ASH00097,2021-10-10,On_us_transaction,SUCCESSFUL,128750.0,159
3,WOLAITA SODO,Zefne,AWT00043,2021-10-09,On_us_transaction,SUCCESSFUL,244600.0,295
4,NEKEMTE,Biftu Nekemte,ANK00057,2021-03-12,On_us_transaction,SUCCESSFUL,419650.0,467

In [5]:
df.shape

(999999, 8)

In [6]:
df['TXN_DATE'] =  pd.to_datetime(df['TXN_DATE'])

In [7]:
df['trxn_year'] = pd.to_datetime(df['TXN_DATE']).dt.year
df['trxn_month'] = pd.to_datetime(df['TXN_DATE']).dt.month
df['trxn_week'] = pd.to_datetime(df['TXN_DATE']).dt.week
#df['trxn_week_pre'] = pd.to_datetime(df['TXN_DATE']).dt.week-1
df['trxn_date'] = pd.to_datetime(df['TXN_DATE']).dt.weekday
df['date'] = pd.to_datetime(df['TXN_DATE']).dt.day_name()

C:\Users\CBE\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  This is separate from the ipykernel package so we can avoid doing imports until

# previous week

In [9]:
df_2=df.groupby(['TERMINAL_ID','trxn_year','trxn_week'])['WITHDRAWAL'].sum()
df_2 =df_2.reset_index()
df_2.rename(columns= {'WITHDRAWAL':'week_total'}, inplace =True)

In [10]:
df_2

       TERMINAL_ID  trxn_year  trxn_week  week_total
0         AAD00001       2020         27    186900.0
1         AAD00001       2020         28    465600.0
2         AAD00001       2020         29    416500.0
3         AAD00001       2020         30    743300.0
4         AAD00001       2020         31    153300.0
...            ...        ...        ...         ...
233105    AYK00122       2022         34    468500.0
233106    AYK00122       2022         35    649300.0
233107    AYK00123       2022         34    714650.0
233108    AYK00123       2022         35   1020700.0
233109    AYK00124       2022         35     15500.0

[233110 rows x 4 columns]

In [11]:
df= df.merge(df_2, on = ['TERMINAL_ID', 'trxn_year', 'trxn_week'])

In [21]:
df

,DISTRICTNAME,BRANCHNAME,TERMINAL_ID,TXN_DATE,TRXN_DESCRIPTION,STATUS,WITHDRAWAL,NO_TXN,trxn_year,trxn_month,trxn_week,trxn_date,date,week_total,week_mean,prv_week
0,GONDER,Ras Dashen,AGD00047,2020-11-10,Domestic_Acquiring,SUCCESSFUL,4050.0,8,2020,11,46,1,Tuesday,229250.0,57312.5,154058.333333
1,GONDER,Ras Dashen,AGD00047,2020-11-15,On_us_transaction,SUCCESSFUL,15800.0,32,2020,11,46,6,Sunday,229250.0,57312.5,154058.333333
2,GONDER,Ras Dashen,AGD00047,2020-11-14,On_us_transaction,SUCCESSFUL,206800.0,224,2020,11,46,5,Saturday,229250.0,57312.5,154058.333333
3,GONDER,Ras Dashen,AGD00047,2020-11-12,Domestic_Acquiring,SUCCESSFUL,2600.0,3,2020,11,46,3,Thursday,229250.0,57312.5,154058.333333
4,ADAMA,Nazareth,AAD00036,2021-04-06,Domestic_Acquiring,SUCCESSFUL,24450.0,18,2021,4,14,1,Tuesday,1321900.0,165237.5,264430.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999994,BAHIR DAR,Hidase Gidb,ABD00231,2021-03-22,MasterCard_Acquiring,SUCCESSFUL,4000.0,1,2021,3,12,0,Monday,4000.0,4000.0,102775.000000
999995,HAWASSA,Hawassa Industrial,AHW00091,2021-06-25,On_us_transaction,SUCCESSFUL,30800.0,170,2021,6,25,4,Friday,30800.0,30800.0,33550.000000
999996,WOLAITA SODO,Chencha,AWT00056,2021-04-15,On_us_transaction,SUCCESSFUL,236200.0,227,2021,4,15,3,Thursday,236200.0,236200.0,200420.000000
999997,JIMMA,ABA BOKA BRANCH,AJM00127,2021-12-03,On_us_transaction,SUCCESSFUL,193400.0,151,2021,12,48,4,Friday,193400.0,193400.0,98000.000000
999998,DIRE DAWA,Golo Oda,ADD00181,2021-12-04,On_us_transaction,SUCCESSFUL,353400.0,193,2021,12,48,5,Saturday,353400.0,353400.0,18850.000000

In [13]:
df_3=df.groupby(['TERMINAL_ID','trxn_year','trxn_week'])['WITHDRAWAL'].mean()
df_3 =df_3.reset_index()
df_3.rename(columns= {'WITHDRAWAL':'week_mean'}, inplace =True)

In [16]:
df_3['prv_week']= df_3.groupby(['TERMINAL_ID', 'trxn_year'])['week_mean'].shift(1)

In [52]:
df_3['Pr_mnt_crrs_week'] =  df_3.groupby(['TERMINAL_ID', 'trxn_year'])['week_mean'].shift(4)

In [53]:
df_3

,TERMINAL_ID,trxn_year,trxn_week,week_mean,prv_week,Pr_mnt_crrs_week
0,AAD00001,2020,27,93450.000000,NaN,NaN
1,AAD00001,2020,28,77600.000000,93450.000000,NaN
2,AAD00001,2020,29,59500.000000,77600.000000,NaN
3,AAD00001,2020,30,106185.714286,59500.000000,NaN
4,AAD00001,2020,31,30660.000000,106185.714286,93450.0
...,...,...,...,...,...,...
233105,AYK00122,2022,34,156166.666667,1800.000000,NaN
233106,AYK00122,2022,35,324650.000000,156166.666667,NaN
233107,AYK00123,2022,34,142930.000000,NaN,NaN
233108,AYK00123,2022,35,340233.333333,142930.000000,NaN
233109,AYK00124,2022,35,15500.000000,NaN,NaN

In [54]:
df = df.merge(df_3, on=['TERMINAL_ID','trxn_year', 'trxn_week'])

In [57]:
df

,DISTRICTNAME,BRANCHNAME,TXN_DATE,TERMINAL_ID,trxn_year,trxn_month,trxn_week,trxn_date,date,WITHDRAWAL,week_mean,prv_week,HOLIDAY,hol_sequence,month_mean,prv_month,Pr_mnt_crrs_week
0,GONDER,Ras Dashen,2020-11-10,AGD00047,2020,11,46,1,Tuesday,4050.0,57312.5,154058.333333,W,WWH,93042.5,68388.888889,61675.0
1,GONDER,Ras Dashen,2020-11-15,AGD00047,2020,11,46,6,Sunday,15800.0,57312.5,154058.333333,H,WHW,93042.5,68388.888889,61675.0
2,GONDER,Ras Dashen,2020-11-14,AGD00047,2020,11,46,5,Saturday,206800.0,57312.5,154058.333333,W,HWW,93042.5,68388.888889,61675.0
3,GONDER,Ras Dashen,2020-11-12,AGD00047,2020,11,46,3,Thursday,2600.0,57312.5,154058.333333,W,WWH,93042.5,68388.888889,61675.0
4,GONDER,Ras Dashen,2020-11-25,AGD00047,2020,11,48,2,Wednesday,219700.0,82530.0,58920.000000,W,WWW,93042.5,68388.888889,44260.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999994,AMBO,Amuru,2022-01-13,AAM00055,2022,1,2,3,Thursday,800.0,800.0,NaN,W,WWW,800.0,NaN,NaN
999995,NEKEMTE,Arjo,2021-11-02,ANK00029,2021,11,44,1,Tuesday,23900.0,23900.0,96533.333333,W,WWW,23900.0,75600.000000,65000.0
999996,SEMERA,Semera,2021-11-01,AWL00027,2021,11,44,0,Monday,8000.0,8000.0,59066.666667,W,WWW,8000.0,52156.666667,1000.0
999997,KIRKOS,COMMERCE BRANCH,2021-04-29,AKR00040,2021,4,17,3,Thursday,10400.0,10400.0,NaN,W,WWW,10400.0,NaN,NaN
999998,HAWASSA,Hawassa,2020-07-19,AHW00098,2020,7,29,6,Sunday,200.0,200.0,NaN,H,HHW,200.0,NaN,NaN

# holiday and holiday sequence

In [22]:
hol=pd.read_excel('holiday.xlsx')
hol

     TXN_DATE HOLIDAY
0  2020-07-31       H
1  2020-09-11       H
2  2020-09-27       H
3  2020-10-29       H
4  2021-01-07       H
5  2021-01-19       H
6  2021-03-02       H
7  2021-04-30       H
8  2021-05-01       H
9  2021-05-02       H
10 2021-05-05       H
11 2021-05-13       H
12 2021-05-28       H
13 2021-07-20       H
14 2021-09-11       H
15 2021-09-27       H
16 2021-10-18       H
17 2022-01-07       H
18 2022-01-19       H
19 2022-03-02       H
20 2022-04-22       H
21 2022-04-24       H
22 2022-05-01       H
23 2022-05-02       H
24 2022-05-05       H
25 2022-05-28       H
26 2022-07-09       H

In [23]:
import datetime
hol['prv _date']=hol['TXN_DATE']- datetime.timedelta(days=1)

In [25]:
df['HOLIDAY']='W'

In [26]:
df.loc[df['trxn_date']==6, 'HOLIDAY']='H'

In [27]:
df.loc[df['TXN_DATE'].isin(hol['TXN_DATE'])]

,DISTRICTNAME,BRANCHNAME,TERMINAL_ID,TXN_DATE,TRXN_DESCRIPTION,STATUS,WITHDRAWAL,NO_TXN,trxn_year,trxn_month,trxn_week,trxn_date,date,week_total,week_mean,prv_week,HOLIDAY
49,NEKEMTE,Beke Jama,ANK00098,2020-09-27,On_us_transaction,SUCCESSFUL,35450.0,68,2020,9,39,6,Sunday,280450.0,56090.000000,59000.000000,H
50,NEKEMTE,Beke Jama,ANK00098,2020-09-27,Domestic_Acquiring,SUCCESSFUL,1000.0,1,2020,9,39,6,Sunday,280450.0,56090.000000,59000.000000,H
58,JIMMA,Mentina,AJM00101,2020-09-27,On_us_transaction,SUCCESSFUL,50600.0,68,2020,9,39,6,Sunday,407850.0,58264.285714,136716.666667,H
63,HAWASSA,Shakisso,AHW00052,2020-09-27,On_us_transaction,SUCCESSFUL,76600.0,110,2020,9,39,6,Sunday,356400.0,118800.000000,41266.666667,H
64,WOLAITA SODO,Yalasawla,AWT00026,2020-09-27,On_us_transaction,SUCCESSFUL,90900.0,160,2020,9,39,6,Sunday,459600.0,76600.000000,104425.000000,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999912,ADAMA,Dabe Soloke,AAD00009,2021-09-27,On_us_transaction,SUCCESSFUL,5500.0,8,2021,9,39,0,Monday,5500.0,5500.000000,700.000000,W
999950,DESSIE,Dessie,ADE00227,2021-10-18,Domestic_Acquiring,SUCCESSFUL,87900.0,33,2021,10,42,0,Monday,87900.0,87900.000000,14300.000000,W
999961,DESSIE,Yegof,ADE00129,2021-05-28,Domestic_Acquiring,SUCCESSFUL,300.0,1,2021,5,21,4,Friday,300.0,300.000000,19535.714286,W
999967,NEKEMTE,Jitu,ANK00116,2022-03-02,On_us_transaction,SUCCESSFUL,27000.0,18,2022,3,9,2,Wednesday,27000.0,27000.000000,67075.000000,W
999977,KIRKOS,Ayer Tena,AKR00135,2021-05-13,VISA_Acquiring,SUCCESSFUL,8000.0,2,2021,5,19,3,Thursday,8000.0,8000.000000,27083.333333,W

In [28]:
df = df.merge(hol,on='TXN_DATE',how="left")

In [30]:
df['HOLIDAY_y'] = df['HOLIDAY_y'].fillna(df['HOLIDAY_x'])
df.drop(['HOLIDAY_x'],inplace=True,axis=1)
df.rename(columns={'HOLIDAY_y':'HOLIDAY'},inplace=True)

In [33]:
df['prv_day']= df.groupby(['TERMINAL_ID', 'trxn_year'])['HOLIDAY'].shift(1)
df['nxt_day']= df.groupby(['TERMINAL_ID', 'trxn_year'])['HOLIDAY'].shift(-1)

In [35]:
df.drop(['prv _date'],inplace=True,axis=1)

In [37]:
df[['prv_day', 'nxt_day']]=df[['prv_day', 'nxt_day']].fillna('W')

In [40]:
df['hol_sequence']=df['prv_day']+df['HOLIDAY']+df['nxt_day']

In [43]:
df

,DISTRICTNAME,BRANCHNAME,TXN_DATE,TERMINAL_ID,trxn_year,trxn_month,trxn_week,trxn_date,date,WITHDRAWAL,week_mean,prv_week,HOLIDAY,hol_sequence
0,GONDER,Ras Dashen,2020-11-10,AGD00047,2020,11,46,1,Tuesday,4050.0,57312.5,154058.333333,W,WWH
1,GONDER,Ras Dashen,2020-11-15,AGD00047,2020,11,46,6,Sunday,15800.0,57312.5,154058.333333,H,WHW
2,GONDER,Ras Dashen,2020-11-14,AGD00047,2020,11,46,5,Saturday,206800.0,57312.5,154058.333333,W,HWW
3,GONDER,Ras Dashen,2020-11-12,AGD00047,2020,11,46,3,Thursday,2600.0,57312.5,154058.333333,W,WWH
4,ADAMA,Nazareth,2021-04-06,AAD00036,2021,4,14,1,Tuesday,24450.0,165237.5,264430.000000,W,WWH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999994,BAHIR DAR,Hidase Gidb,2021-03-22,ABD00231,2021,3,12,0,Monday,4000.0,4000.0,102775.000000,W,HWW
999995,HAWASSA,Hawassa Industrial,2021-06-25,AHW00091,2021,6,25,4,Friday,30800.0,30800.0,33550.000000,W,WWW
999996,WOLAITA SODO,Chencha,2021-04-15,AWT00056,2021,4,15,3,Thursday,236200.0,236200.0,200420.000000,W,WWW
999997,JIMMA,ABA BOKA BRANCH,2021-12-03,AJM00127,2021,12,48,4,Friday,193400.0,193400.0,98000.000000,W,WWW
999998,DIRE DAWA,Golo Oda,2021-12-04,ADD00181,2021,12,48,5,Saturday,353400.0,353400.0,18850.000000,W,WWW

In [42]:
df=df[['DISTRICTNAME','BRANCHNAME','TXN_DATE','TERMINAL_ID','trxn_year','trxn_month','trxn_week','trxn_date', 
           'date','WITHDRAWAL','week_mean','Pr_mnt_crrs_week','prv_week','HOLIDAY','hol_sequence']]

In [47]:
df['week_mean'].isnull().values.any()

False

# prv month

In [48]:
df_4=df.groupby(['TERMINAL_ID','trxn_year','trxn_month'])['WITHDRAWAL'].mean()
df_4 =df_4.reset_index()
df_4.rename(columns= {'WITHDRAWAL':'month_mean'}, inplace =True)

In [49]:
df_4['prv_month']= df_4.groupby(['TERMINAL_ID', 'trxn_year'])['month_mean'].shift(1)

In [50]:
df = df.merge(df_4, on=['TERMINAL_ID','trxn_year', 'trxn_month'])

In [59]:
df

,DISTRICTNAME,BRANCHNAME,TXN_DATE,TERMINAL_ID,trxn_year,trxn_month,trxn_week,trxn_date,date,WITHDRAWAL,week_mean,prv_week,HOLIDAY,hol_sequence,month_mean,prv_month,Pr_mnt_crrs_week
0,GONDER,Ras Dashen,2020-11-10,AGD00047,2020,11,46,1,Tuesday,4050.0,57312.5,154058.333333,W,WWH,93042.5,68388.888889,61675.0
1,GONDER,Ras Dashen,2020-11-15,AGD00047,2020,11,46,6,Sunday,15800.0,57312.5,154058.333333,H,WHW,93042.5,68388.888889,61675.0
2,GONDER,Ras Dashen,2020-11-14,AGD00047,2020,11,46,5,Saturday,206800.0,57312.5,154058.333333,W,HWW,93042.5,68388.888889,61675.0
3,GONDER,Ras Dashen,2020-11-12,AGD00047,2020,11,46,3,Thursday,2600.0,57312.5,154058.333333,W,WWH,93042.5,68388.888889,61675.0
4,GONDER,Ras Dashen,2020-11-25,AGD00047,2020,11,48,2,Wednesday,219700.0,82530.0,58920.000000,W,WWW,93042.5,68388.888889,44260.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999994,AMBO,Amuru,2022-01-13,AAM00055,2022,1,2,3,Thursday,800.0,800.0,NaN,W,WWW,800.0,NaN,NaN
999995,NEKEMTE,Arjo,2021-11-02,ANK00029,2021,11,44,1,Tuesday,23900.0,23900.0,96533.333333,W,WWW,23900.0,75600.000000,65000.0
999996,SEMERA,Semera,2021-11-01,AWL00027,2021,11,44,0,Monday,8000.0,8000.0,59066.666667,W,WWW,8000.0,52156.666667,1000.0
999997,KIRKOS,COMMERCE BRANCH,2021-04-29,AKR00040,2021,4,17,3,Thursday,10400.0,10400.0,NaN,W,WWW,10400.0,NaN,NaN
999998,HAWASSA,Hawassa,2020-07-19,AHW00098,2020,7,29,6,Sunday,200.0,200.0,NaN,H,HHW,200.0,NaN,NaN

In [58]:
df['month_mean'].isnull().values.any()

False

In [62]:
df[df.isna().any(axis=1)]

,DISTRICTNAME,BRANCHNAME,TXN_DATE,TERMINAL_ID,trxn_year,trxn_month,trxn_week,trxn_date,date,WITHDRAWAL,week_mean,prv_week,HOLIDAY,hol_sequence,month_mean,prv_month,Pr_mnt_crrs_week
114,HOSSANA,Bekur,2021-06-05,AHS00011,2021,6,22,5,Saturday,694200.0,302650.0,252620.0,W,WWW,237150.0,228728.571429,NaN
115,HOSSANA,Bekur,2021-06-04,AHS00011,2021,6,22,4,Friday,4700.0,302650.0,252620.0,W,WWW,237150.0,228728.571429,NaN
116,HOSSANA,Bekur,2021-06-02,AHS00011,2021,6,22,2,Wednesday,633650.0,302650.0,252620.0,W,WWW,237150.0,228728.571429,NaN
117,HOSSANA,Bekur,2021-06-01,AHS00011,2021,6,22,1,Tuesday,6800.0,302650.0,252620.0,W,WWW,237150.0,228728.571429,NaN
118,HOSSANA,Bekur,2021-06-05,AHS00011,2021,6,22,5,Saturday,5000.0,302650.0,252620.0,W,WWW,237150.0,228728.571429,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999990,MERKATO,Mehal Gebeya,2021-04-30,AMR00064,2021,4,17,4,Friday,24100.0,24100.0,NaN,H,WHW,24100.0,NaN,NaN
999991,BOLE,Edna Molle,2021-05-27,ABL00105,2021,5,21,3,Thursday,10100.0,10100.0,NaN,W,WWW,10100.0,NaN,NaN
999994,AMBO,Amuru,2022-01-13,AAM00055,2022,1,2,3,Thursday,800.0,800.0,NaN,W,WWW,800.0,NaN,NaN
999997,KIRKOS,COMMERCE BRANCH,2021-04-29,AKR00040,2021,4,17,3,Thursday,10400.0,10400.0,NaN,W,WWW,10400.0,NaN,NaN
999998,HAWASSA,Hawassa,2020-07-19,AHW00098,2020,7,29,6,Sunday,200.0,200.0,NaN,H,HHW,200.0,NaN,NaN

In [64]:
df['prv_week'] = df.prv_week.fillna(df.groupby(['trxn_year','TERMINAL_ID','BRANCHNAME'])['prv_week'].transform('mean')) 
df['prv_month'] = df.prv_month.fillna(df.groupby(['trxn_year','TERMINAL_ID','BRANCHNAME'])['prv_month'].transform('mean'))
df['Pr_mnt_crrs_week'] = df.Pr_mnt_crrs_week.fillna(df.groupby(['trxn_year','TERMINAL_ID','BRANCHNAME'])['Pr_mnt_crrs_week'].transform('mean'))

In [70]:
df[df['prv_week'].isna()].shape

(51, 17)

In [71]:
df=df.dropna()

In [72]:
df

,DISTRICTNAME,BRANCHNAME,TXN_DATE,TERMINAL_ID,trxn_year,trxn_month,trxn_week,trxn_date,date,WITHDRAWAL,week_mean,prv_week,HOLIDAY,hol_sequence,month_mean,prv_month,Pr_mnt_crrs_week
0,GONDER,Ras Dashen,2020-11-10,AGD00047,2020,11,46,1,Tuesday,4050.0,57312.5,154058.333333,W,WWH,93042.5,68388.888889,61675.000000
1,GONDER,Ras Dashen,2020-11-15,AGD00047,2020,11,46,6,Sunday,15800.0,57312.5,154058.333333,H,WHW,93042.5,68388.888889,61675.000000
2,GONDER,Ras Dashen,2020-11-14,AGD00047,2020,11,46,5,Saturday,206800.0,57312.5,154058.333333,W,HWW,93042.5,68388.888889,61675.000000
3,GONDER,Ras Dashen,2020-11-12,AGD00047,2020,11,46,3,Thursday,2600.0,57312.5,154058.333333,W,WWH,93042.5,68388.888889,61675.000000
4,GONDER,Ras Dashen,2020-11-25,AGD00047,2020,11,48,2,Wednesday,219700.0,82530.0,58920.000000,W,WWW,93042.5,68388.888889,44260.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999994,AMBO,Amuru,2022-01-13,AAM00055,2022,1,2,3,Thursday,800.0,800.0,39827.809524,W,WWW,800.0,36114.469388,35494.655172
999995,NEKEMTE,Arjo,2021-11-02,ANK00029,2021,11,44,1,Tuesday,23900.0,23900.0,96533.333333,W,WWW,23900.0,75600.000000,65000.000000
999996,SEMERA,Semera,2021-11-01,AWL00027,2021,11,44,0,Monday,8000.0,8000.0,59066.666667,W,WWW,8000.0,52156.666667,1000.000000
999997,KIRKOS,COMMERCE BRANCH,2021-04-29,AKR00040,2021,4,17,3,Thursday,10400.0,10400.0,108172.924107,W,WWW,10400.0,102685.936614,103346.775000
999998,HAWASSA,Hawassa,2020-07-19,AHW00098,2020,7,29,6,Sunday,200.0,200.0,1049.230769,H,HHW,200.0,635.000000,604.000000

In [73]:
data = df.set_index('TXN_DATE')

In [84]:
data

,DISTRICTNAME,BRANCHNAME,TERMINAL_ID,trxn_year,trxn_month,trxn_week,trxn_date,date,WITHDRAWAL,week_mean,...,HOLIDAY,hol_sequence,month_mean,prv_month,Pr_mnt_crrs_week,District,Branch,Terminal,holiday,hol_seq
0,GONDER,Ras Dashen,AGD00047,2020,11,46,1,Tuesday,4050.0,57312.5,...,W,WWH,93042.5,68388.888889,61675.000000,12,1316,1200,1,6
1,GONDER,Ras Dashen,AGD00047,2020,11,46,6,Sunday,15800.0,57312.5,...,H,WHW,93042.5,68388.888889,61675.000000,12,1316,1200,0,5
2,GONDER,Ras Dashen,AGD00047,2020,11,46,5,Saturday,206800.0,57312.5,...,W,HWW,93042.5,68388.888889,61675.000000,12,1316,1200,1,3
3,GONDER,Ras Dashen,AGD00047,2020,11,46,3,Thursday,2600.0,57312.5,...,W,WWH,93042.5,68388.888889,61675.000000,12,1316,1200,1,6
4,GONDER,Ras Dashen,AGD00047,2020,11,48,2,Wednesday,219700.0,82530.0,...,W,WWW,93042.5,68388.888889,44260.000000,12,1316,1200,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998892,AMBO,Amuru,AAM00055,2022,1,2,3,Thursday,800.0,800.0,...,W,WWW,800.0,36114.469388,35494.655172,1,179,167,1,7
998893,NEKEMTE,Arjo,ANK00029,2021,11,44,1,Tuesday,23900.0,23900.0,...,W,WWW,23900.0,75600.000000,65000.000000,23,210,2423,1,7
998894,SEMERA,Semera,AWL00027,2021,11,44,0,Monday,8000.0,8000.0,...,W,WWW,8000.0,52156.666667,1000.000000,25,1397,2770,1,7
998895,KIRKOS,COMMERCE BRANCH,AKR00040,2021,4,17,3,Thursday,10400.0,10400.0,...,W,WWW,10400.0,102685.936614,103346.775000,17,405,1828,1,7
998896,HAWASSA,Hawassa,AHW00098,2020,7,29,6,Sunday,200.0,200.0,...,H,HHW,200.0,635.000000,604.000000,13,854,1451,0,1

In [75]:
district_ref=pd.read_excel('reference.xlsx',sheet_name='district')
branch_ref=pd.read_excel('reference.xlsx',sheet_name='branch')
terminal_ref=pd.read_excel('reference.xlsx',sheet_name='terminal')
holiday_ref=pd.read_excel('reference.xlsx',sheet_name='holiday')
holseq_ref=pd.read_excel('reference.xlsx',sheet_name='hol_seq')

In [83]:
data = data.merge(district_ref,on='DISTRICTNAME',how="left")
data = data.merge(branch_ref,on='BRANCHNAME',how="left")
data = data.merge(terminal_ref,on='TERMINAL_ID',how="left")
data = data.merge(holiday_ref,on='HOLIDAY',how="left")
data = data.merge(holseq_ref,on='hol_sequence',how="left")

In [85]:
data

,DISTRICTNAME,BRANCHNAME,TERMINAL_ID,trxn_year,trxn_month,trxn_week,trxn_date,date,WITHDRAWAL,week_mean,...,HOLIDAY,hol_sequence,month_mean,prv_month,Pr_mnt_crrs_week,District,Branch,Terminal,holiday,hol_seq
0,GONDER,Ras Dashen,AGD00047,2020,11,46,1,Tuesday,4050.0,57312.5,...,W,WWH,93042.5,68388.888889,61675.000000,12,1316,1200,1,6
1,GONDER,Ras Dashen,AGD00047,2020,11,46,6,Sunday,15800.0,57312.5,...,H,WHW,93042.5,68388.888889,61675.000000,12,1316,1200,0,5
2,GONDER,Ras Dashen,AGD00047,2020,11,46,5,Saturday,206800.0,57312.5,...,W,HWW,93042.5,68388.888889,61675.000000,12,1316,1200,1,3
3,GONDER,Ras Dashen,AGD00047,2020,11,46,3,Thursday,2600.0,57312.5,...,W,WWH,93042.5,68388.888889,61675.000000,12,1316,1200,1,6
4,GONDER,Ras Dashen,AGD00047,2020,11,48,2,Wednesday,219700.0,82530.0,...,W,WWW,93042.5,68388.888889,44260.000000,12,1316,1200,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998892,AMBO,Amuru,AAM00055,2022,1,2,3,Thursday,800.0,800.0,...,W,WWW,800.0,36114.469388,35494.655172,1,179,167,1,7
998893,NEKEMTE,Arjo,ANK00029,2021,11,44,1,Tuesday,23900.0,23900.0,...,W,WWW,23900.0,75600.000000,65000.000000,23,210,2423,1,7
998894,SEMERA,Semera,AWL00027,2021,11,44,0,Monday,8000.0,8000.0,...,W,WWW,8000.0,52156.666667,1000.000000,25,1397,2770,1,7
998895,KIRKOS,COMMERCE BRANCH,AKR00040,2021,4,17,3,Thursday,10400.0,10400.0,...,W,WWW,10400.0,102685.936614,103346.775000,17,405,1828,1,7
998896,HAWASSA,Hawassa,AHW00098,2020,7,29,6,Sunday,200.0,200.0,...,H,HHW,200.0,635.000000,604.000000,13,854,1451,0,1

In [86]:
input=data[['prv_week','prv_month','Pr_mnt_crrs_week','District','Branch','Terminal','trxn_month',
            'trxn_week','trxn_date','holiday','hol_seq' ]]

In [89]:
input

,prv_week,prv_month,Pr_mnt_crrs_week,District,Branch,Terminal,trxn_month,trxn_week,trxn_date,HOLIDAY,hol_sequence
0,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,1,1,6
1,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,6,0,5
2,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,5,1,3
3,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,3,1,6
4,58920.000000,68388.888889,44260.000000,12,1316,1200,11,48,2,1,7
...,...,...,...,...,...,...,...,...,...,...,...
998892,39827.809524,36114.469388,35494.655172,1,179,167,1,2,3,1,7
998893,96533.333333,75600.000000,65000.000000,23,210,2423,11,44,1,1,7
998894,59066.666667,52156.666667,1000.000000,25,1397,2770,11,44,0,1,7
998895,108172.924107,102685.936614,103346.775000,17,405,1828,4,17,3,1,7
998896,1049.230769,635.000000,604.000000,13,854,1451,7,29,6,0,1

In [88]:
input=input.rename(columns={'holiday':'HOLIDAY'})
input=input.rename(columns={'hol_seq':'hol_sequence'})

# load model

In [90]:
from joblib import Parallel, delayed
import joblib
import pandas as pd

# for linear regression

In [91]:
#Load the model from the file
linear_reg = joblib.load('linear_reg2.pkl')

In [97]:
lin_pred=linear_reg.predict(input)

In [102]:
linpred = pd.DataFrame(lin_pred[:]) 
linpred.rename(columns = {0: 'lin_predicted'}, inplace=True) # renaming the column
linpred = linpred.round(decimals=0) # rounding the decimal values
d = pd.DataFrame(input) # calling last 50 values of original amt wothdrawn
linpred.index = d.index # mapping the index of both dataframe
linok = pd.concat([linpred, d], axis=1) 
linok

,lin_predicted,prv_week,prv_month,Pr_mnt_crrs_week,District,Branch,Terminal,trxn_month,trxn_week,trxn_date,HOLIDAY,hol_sequence
0,42115.0,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,1,1,6
1,7495.0,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,6,0,5
2,87797.0,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,5,1,3
3,57113.0,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,3,1,6
4,52306.0,58920.000000,68388.888889,44260.000000,12,1316,1200,11,48,2,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...
998892,46710.0,39827.809524,36114.469388,35494.655172,1,179,167,1,2,3,1,7
998893,57670.0,96533.333333,75600.000000,65000.000000,23,210,2423,11,44,1,1,7
998894,-3369.0,59066.666667,52156.666667,1000.000000,25,1397,2770,11,44,0,1,7
998895,111327.0,108172.924107,102685.936614,103346.775000,17,405,1828,4,17,3,1,7
998896,-11121.0,1049.230769,635.000000,604.000000,13,854,1451,7,29,6,0,1

In [104]:
Result=linok

In [105]:
Result = Result.merge(district_ref,on='District',how="left")
Result = Result.merge(branch_ref,on='Branch',how="left")
Result = Result.merge(terminal_ref,on='Terminal',how="left")

In [106]:
Result

,lin_predicted,prv_week,prv_month,Pr_mnt_crrs_week,District,Branch,Terminal,trxn_month,trxn_week,trxn_date,HOLIDAY,hol_sequence,DISTRICTNAME,BRANCHNAME,TERMINAL_ID
0,42115.0,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,1,1,6,GONDER,Ras Dashen,AGD00047
1,7495.0,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,6,0,5,GONDER,Ras Dashen,AGD00047
2,87797.0,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,5,1,3,GONDER,Ras Dashen,AGD00047
3,57113.0,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,3,1,6,GONDER,Ras Dashen,AGD00047
4,52306.0,58920.000000,68388.888889,44260.000000,12,1316,1200,11,48,2,1,7,GONDER,Ras Dashen,AGD00047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998892,46710.0,39827.809524,36114.469388,35494.655172,1,179,167,1,2,3,1,7,AMBO,Amuru,AAM00055
998893,57670.0,96533.333333,75600.000000,65000.000000,23,210,2423,11,44,1,1,7,NEKEMTE,Arjo,ANK00029
998894,-3369.0,59066.666667,52156.666667,1000.000000,25,1397,2770,11,44,0,1,7,SEMERA,Semera,AWL00027
998895,111327.0,108172.924107,102685.936614,103346.775000,17,405,1828,4,17,3,1,7,KIRKOS,COMMERCE BRANCH,AKR00040
998896,-11121.0,1049.230769,635.000000,604.000000,13,854,1451,7,29,6,0,1,HAWASSA,Hawassa,AHW00098

In [108]:
Result.drop(['prv_week','prv_month','Pr_mnt_crrs_week','District','Branch','Terminal',
             'trxn_month','trxn_week','trxn_date','HOLIDAY','hol_sequence'],inplace=True,axis=1)

In [109]:
Result

        lin_predicted DISTRICTNAME       BRANCHNAME TERMINAL_ID
0             42115.0       GONDER       Ras Dashen    AGD00047
1              7495.0       GONDER       Ras Dashen    AGD00047
2             87797.0       GONDER       Ras Dashen    AGD00047
3             57113.0       GONDER       Ras Dashen    AGD00047
4             52306.0       GONDER       Ras Dashen    AGD00047
...               ...          ...              ...         ...
998892        46710.0         AMBO            Amuru    AAM00055
998893        57670.0      NEKEMTE             Arjo    ANK00029
998894        -3369.0       SEMERA           Semera    AWL00027
998895       111327.0       KIRKOS  COMMERCE BRANCH    AKR00040
998896       -11121.0      HAWASSA          Hawassa    AHW00098

[998897 rows x 4 columns]

In [110]:
Result.to_csv('linear_reg_pridivtion.csv')

# for NGBoost

In [111]:
#Load the model from the file
ngb = joblib.load('ngb2.pkl')

In [112]:
ngb_pred=ngb.predict(input)

In [113]:
ngbpred = pd.DataFrame(ngb_pred[:]) 
ngbpred.rename(columns = {0: 'ngb_predicted'}, inplace=True) # renaming the column
ngbpred = ngbpred.round(decimals=0) # rounding the decimal values
d = pd.DataFrame(input) 
ngbpred.index = d.index # mapping the index of both dataframe
ngbok = pd.concat([ngbpred, d], axis=1) 
ngbok

,ngb_predicted,prv_week,prv_month,Pr_mnt_crrs_week,District,Branch,Terminal,trxn_month,trxn_week,trxn_date,HOLIDAY,hol_sequence
0,81791.0,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,1,1,6
1,51212.0,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,6,0,5
2,73146.0,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,5,1,3
3,81791.0,154058.333333,68388.888889,61675.000000,12,1316,1200,11,46,3,1,6
4,60299.0,58920.000000,68388.888889,44260.000000,12,1316,1200,11,48,2,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...
998892,29029.0,39827.809524,36114.469388,35494.655172,1,179,167,1,2,3,1,7
998893,72931.0,96533.333333,75600.000000,65000.000000,23,210,2423,11,44,1,1,7
998894,37096.0,59066.666667,52156.666667,1000.000000,25,1397,2770,11,44,0,1,7
998895,111342.0,108172.924107,102685.936614,103346.775000,17,405,1828,4,17,3,1,7
998896,9931.0,1049.230769,635.000000,604.000000,13,854,1451,7,29,6,0,1

In [114]:
Result=ngbok

In [115]:
Result = Result.merge(district_ref,on='District',how="left")
Result = Result.merge(branch_ref,on='Branch',how="left")
Result = Result.merge(terminal_ref,on='Terminal',how="left")

In [116]:
Result.drop(['prv_week','prv_month','Pr_mnt_crrs_week','District','Branch','Terminal',
             'trxn_month','trxn_week','trxn_date','HOLIDAY','hol_sequence'],inplace=True,axis=1)

In [117]:
Result

        ngb_predicted DISTRICTNAME       BRANCHNAME TERMINAL_ID
0             81791.0       GONDER       Ras Dashen    AGD00047
1             51212.0       GONDER       Ras Dashen    AGD00047
2             73146.0       GONDER       Ras Dashen    AGD00047
3             81791.0       GONDER       Ras Dashen    AGD00047
4             60299.0       GONDER       Ras Dashen    AGD00047
...               ...          ...              ...         ...
998892        29029.0         AMBO            Amuru    AAM00055
998893        72931.0      NEKEMTE             Arjo    ANK00029
998894        37096.0       SEMERA           Semera    AWL00027
998895       111342.0       KIRKOS  COMMERCE BRANCH    AKR00040
998896         9931.0      HAWASSA          Hawassa    AHW00098

[998897 rows x 4 columns]

In [118]:
Result.to_csv('ngboost_pridiction.csv')